# Base setup
setuptools>=41.2.0
wheel>=0.45.1

# Core dependencies
numpy==1.24.3
scipy==1.10.1
pandas==2.0.3
python-dotenv==1.0.1
pytz==2025.1
joblib==1.4.2

# Machine Learning
tensorflow==2.13.0
scikit-learn==1.3.2
keras==2.13.1

# Technical Analysis & Market Data
pandas-ta==0.3.14b
yfinance==0.2.54
MetaTrader5==5.0.45

# Visualization
matplotlib==3.7.5
seaborn==0.13.2 